<footer style="z-index: 9999;">
    <style>
        footer {
            padding: 10px 2px;
        }
    </style>
    <div class="text">
        <span>
            ©
            <span id="year"></span>
            <a href="https://github.com/MIbnEKhalid" target="_blank">Muhammad Bin Khalid</a>.
                                            All
                                            Rights Reserved |
            <a href="/Terms&Conditions" target="_blank">Terms &amp; Conditions</a>
            |
            <a href="/FAQs" target="_blank">FAQs</a>
            |
            <a href="https://mbktechstudio.com/Support/" target="_blank">Support &amp; Contact</a>
        </span>
        <script>
            document.getElementById('year').textContent = new Date().getFullYear();
        </script>
    </div>
</footer>
<script src="/Assets/Scripts/header.js"></script>