<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/Assets/Style/doc.css">
    <script src="https://kit.fontawesome.com/0934e8e9d3.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="/Assets/Images/dgicon.svg">
    <link rel="stylesheet" href="/Assets/main.css">
    <link rel="stylesheet" href="/Assets/style.css">
    <script src="/Assets/Scripts/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<style>
    nav {
        z-index: 970 !important;
        padding: 15px 0;
    }
    nav .navbar {
        width: 94%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
    nav .menu-btn {
        top: 25px;
    }
    @media(max-width: 400px) {
        nav .navbar .logo a {
            font-size: 33px;
        }
        .logo img {
            width: 95%;
            height: 95%;
        }
        nav .menu-btn {
            top: 22px;
        }
    }
    @media(max-width: 350px) {
        nav .navbar .logo a {
            font-size: 27px;
        }
        .logo img {
            width: 87%;
            height: 87%;
        }
        nav .menu-btn {
            top: 20px;
        }
    }
</style>
<header>
    <nav>
        <div class="navbar">
            <div class="logo">
                <div class="image">
                    <img src="/Assets/Images/dg.svg" alt=""/>
                </div>
                <div class="text">
                    <a href="/home">MBK Tech Studio</a>
                </div>
            </div>
            <ul class="menu">
                <div class="media-icons-m" id="media-icons-m"></div>
                <div class="cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
            </ul>
            <div class="media-icons" id="media-icons"></div>
        </div>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
</header>