<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
  </head>
  {{> header }}
  <style>
    .p {
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 10px;
    }
    .container-t {
      background-color: #333;
      padding: 20px;
      border-radius: 10px;
      color: #fff;
      margin: 10px;
    }
    .container-t h2 {
      color: #ffcc00;
    }
    .container-t ul {
      list-style-type: none;
      padding: 0;
    }
    .container-t li {
      margin-bottom: 10px;
    }
    .container-t code {
      background-color: #444;
      padding: 2px 5px;
      border-radius: 5px;
    }
    form#feedbackForm {
      margin: 0 auto;
      border-radius: 8px;
    }
    form#feedbackForm label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
    }
    form#feedbackForm textarea {
      width: 100%;
      height: 150px;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      resize: vertical;
    }
    #responseMessage {
      margin-top: 20px;
      font-size: 16px;
    }
    nav.sticky {
      background: rgba(0, 0, 0, 0.3) !important;
      backdrop-filter: blur(8px) !important;
    }
    .Servicecontainer {
      max-width: 1200px;
      margin: 0 auto;
    }
    .Serviceh1 {
      font-size: 2.5rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 2rem;
    }
    .Servicegrid {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .Servicecard {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 15px;
      box-shadow: 0 4px 6px rgba(255, 255, 255, 0.15);
      padding: 13px;
      transition: box-shadow 0.3s ease;
      text-decoration: none;
      color: inherit;
      transition: all 0.5s ease;
    }
    .Servicecard:hover {
      box-shadow: 0 6px 12px rgba(255, 255, 255, 0.15);
      transition: all 0.5s ease;
    }
    .Servicecard h2 {
      font-size: 1.5rem;
      font-weight: 600;
      color: #007bff;
    }
    .Servicecard p {
      font-size: 0.875rem;
      color: rgb(119, 127, 142);
    }
  </style>
  <body>
    <br><br>
    <section class="about" id="about">
      <div class="content">
        <div class="title">
          <span>{{ FullName }}, Welcome To Portal</span>
        </div>
{{#if (eq role "Guest")}}
  {{> notice/subAdmin}}
{{/if}}
{{#if (eq role "Demo")}}
  {{> notice/demoAccountNotice}}
{{/if}}
        <div class="container-t">
          <h2 style="margin-bottom: 20px;">Usefull Links</h2>
          <div class="Servicecontainer">
            <div class="Servicegrid">
              <a href="/user/profile" class="links Servicecard">
                <h2>User Profile</h2>
                <p>View Your Profile</p>
              </a>
              <a href="dashboard/Roles&Members" class="links Servicecard">
                <h2>Roles & Members</h2>
                <p>display all members and there role in WebPortal and projects</p>
              </a>
              <a href="/home" class="links Servicecard">
                <h2>Create User</h2>
                <p>For Super Admin To Create User</p>
              </a>
              <a href="/home" class="links Servicecard">
                <h2>Unilib</h2>
                <p>For My Uni Classmate to handle unilib.mbktechstudio.com</p>
              </a>
              <a href="/api/feedback" class="links Servicecard">
                <h2>feedback</h2>
                <p>For SuperAdmin to view users feedback</p>
              </a>
              <a href="/dashboard/AuthApiKey" class="links Servicecard">
                <h2>AuthApiKey</h2>
                <p>For SuperAdmin to view users feedback</p>
              </a>
            </div>
          </div>
        </div>
        <div class="container-t">
          <h2>Submit Feedback or Feature Suggestion</h2>
          <form id="feedbackForm">
            <label for="feedback">Feedback:</label>
            <textarea id="feedback" name="feedback" required></textarea>
            <button class="buttons full" style="font-size:20px" type="submit">Submit</button>
          </form>
          <div id="responseMessage"></div>
          <script>
            document.getElementById('feedbackForm').addEventListener('submit', async function (event) {
              event.preventDefault();
              const feedback = document.getElementById('feedback').value;
              try {
                const response = await fetch('/post/submitFeedback', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({feedback})
                });
                const result = await response.json();
                const responseMessage = document.getElementById('responseMessage');
                if (result.success) {
                  document.getElementById('feedback').value = '';
                  showMessage(result.message, "Success");
                } else {
                  showMessage(result.message, "Error");
                }
              } catch (error) {
                console.error('Error submitting feedback:', error);
                showMessage(error, "Error");
              }
            });
          </script>
        </div>
        <div class="container-t">
          <p style="text-align: center;" class="p">{{ user.username }}, you are a {{ role }}</p>
          <h1>Pages</h1>
          <h2>Accessible Only With Login</h2>
          <ul>
            <li>
              <a class="links" href="/home">Home</a>
            </li>
            <li>
              <a class="links" href="/user/profile">User Profile</a>
            </li>
            <li>
              <a class="links" href="/dashboard/Roles&Members">Roles & Members</a>
            </li>
          </ul>
          <h2>Accessible Without Login</h2>
          <ul>
            <li><a class="links" href="/">Landing Page</a></li>
            <li><a class="links" href="/login">Login</a></li>
            <li><a class="links" href="/FAQs">FAQs</a></li>
          </ul>
        </div>
        <div class="container-t">
          <h2>Functionalities</h2>
          <ul>
            <li>✔️ Users can log in</li>
            <li>✔️ Users can log out</li>
            <li>✔️ Users can save their login username on the login page</li>
            <li>✔️ Users can be redirected to a specific page after login using the
              <code>?redirect=</code>
              query parameter</li>
            <li>✔️ Admins can terminate specific user sessions or all user sessions</li>
            <li>✔️ Users can view their profile by visiting
              <code>
                <a class="links" href="user/profile">user/profile</a>
              </code>
              or by clicking the profile icon at the top right and selecting the profile option</li>
            <li>✔️ Can Visit
              <code>
                <a class="links" href="dashboard/Roles&Members">Roles&Members</a>
              </code>
            </li>
          </ul>
          <h2>Known Issues 🐞</h2>
          <ul>
            <li>
              not found any yet
            </li>
          </ul>
          <h2>To Do</h2>
          <ul>
            <li>☐ Create a left panel and place page links</li>
            <li>☐ Fix known issues</li>
          </ul>
        </div>
      </div>
    </section>
  </body>
  {{> footer }}
</html>