<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
  </head>
  {% include "../templates/header.njk" %}
  <style>
    .p {
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 10px;
    }
    .container-t {
      background-color: #333;
      padding: 20px;
      border-radius: 10px;
      color: #fff;
      margin: 10px;
    }
    .container-t h2 {
      color: #ffcc00;
    }
    .container-t ul {
      list-style-type: none;
      padding: 0;
    }
    .container-t li {
      margin-bottom: 10px;
    }
    .container-t code {
      background-color: #444;
      padding: 2px 5px;
      border-radius: 5px;
    }
    form#feedbackForm {
      margin: 0 auto;
      border-radius: 8px;
    }
    form#feedbackForm label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
    }
    form#feedbackForm textarea {
      width: 100%;
      height: 150px;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      resize: vertical;
    }
    #responseMessage {
      margin-top: 20px;
      font-size: 16px;
    }
  </style>
  <body>
    <br><br>
    <section class="about" id="about">
      <div class="content">
        <div class="title">
          <span>Yo {{ FullName }}, Welcome To Portal</span>
        </div>
        {% if role == "Guest" %}
          {% include "../notice/subAdmin.njk" %}
        {% endif %}
        {% if role == "Demo" %}
          {% include "../notice/demoAccountNotice.njk" %}
        {% endif %}
        <div class="container-t">
          <h2>Submit Feedback or Feature Suggestion</h2>
          <form id="feedbackForm">
            <label for="feedback">Feedback:</label>
            <textarea id="feedback" name="feedback" required></textarea>
            <button class="buttons full" style="font-size:20px" type="submit">Submit</button>
          </form>
          <div id="responseMessage"></div>
          <script>
            document.getElementById('feedbackForm').addEventListener('submit', async function (event) {
              event.preventDefault();
              const feedback = document.getElementById('feedback').value;
              try {
                const response = await fetch('/post/submitFeedback', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({feedback})
                });
                const result = await response.json();
                const responseMessage = document.getElementById('responseMessage');
                if (result.success) {
                  responseMessage.textContent = result.message;
                  responseMessage.style.color = 'green';
                } else {
                  responseMessage.textContent = result.message;
                  responseMessage.style.color = 'red';
                }
              } catch (error) {
                console.error('Error submitting feedback:', error);
                document.getElementById('responseMessage').textContent = 'An error occurred while submitting feedback.';
                document
                  .getElementById('responseMessage')
                  .style
                  .color = 'red';
              }
            });
          </script>
        </div>
        <div class="container-t">
          <p style="text-align: center;" class="p">{{ user.username }}, you are a {{ role }}</p>
          <h1>Pages</h1>
          <h2>Accessible Only With Login</h2>
          <ul>
            <li>
              <a class="links" href="/home">Home</a>
            </li>
            <li>
              <a class="links" href="/user/profile">User Profile</a>
            </li>
            <li>
              <a class="links" href="/dashboard/Roles&Members">Roles & Members</a>
            </li>
          </ul>
          <h2>Accessible Without Login</h2>
          <ul>
            <li><a class="links" href="/">Landing Page</a></li>
            <li><a class="links" href="/login">Login</a></li>
            <li><a class="links" href="/FAQs">FAQs</a></li>
          </ul>
        </div>
        <div class="container-t">
          <h2>Functionalities</h2>
          <ul>
            <li>✔️ Users can log in</li>
            <li>✔️ Users can log out</li>
            <li>✔️ Users can save their login username on the login page</li>
            <li>✔️ Users can be redirected to a specific page after login using the
              <code>?redirect=</code>
              query parameter</li>
            <li>✔️ Admins can terminate specific user sessions or all user sessions</li>
            <li>✔️ Users can view their profile by visiting
              <code>
                <a class="links" href="user/profile">user/profile</a>
              </code>
              or by clicking the profile icon at the top right and selecting the profile option</li>
            <li>✔️ Can Visit
              <code>
                <a class="links" href="dashboard/Roles&Members">Roles&Members</a>
              </code>
            </li>
          </ul>
          <h2>Known Issues 🐞</h2>
          <ul>
            <li>
              not found any yet
            </li>
          </ul>
          <h2>To Do</h2>
          <ul>
            <li>☐ Create a left panel and place page links</li>
            <li>☐ Fix known issues</li>
          </ul>
        </div>
      </div>
    </section>
  </body>
  {% include "../templates/footer.njk" %}
</html>