<div class="showMessageblurWindow">
    <div class="showmessageWindow">
        <h1></h1>
        <p></p>
        <button class="buttons full" style="font-size: 20px;margin-top: 10px;" onclick="hideMessage()">Okay</button>
    </div>
</div>
<script>
    function showMessage(message, heading) {
        document.querySelector(".showmessageWindow h1").innerText = heading;
        document.querySelector(".showmessageWindow p").innerHTML = message;
        document
            .querySelector(".showMessageblurWindow")
            .classList
            .add("active");
        document
            .body
            .classList
            .add("blur-active");
    }
    function hideMessage() {
        const blurWindow = document.querySelector(".showMessageblurWindow");
        blurWindow.classList.add("fade-out");
        setTimeout(() => {
            blurWindow.classList.remove("active", "fade-out");
            document
                .body
                .classList
                .remove("blur-active");
        }, 500);
    }
</script>